.main {
    border: 2px solid #4A148C;
    width: 200px;
    margin: 0 auto;
}

.result {
    width: 95%;
    background-color: #2962FF;
    color: black;
}

.clearBtn {
    width: 100%;
    margin-top: 10px;
    background-color: #BBDEFB;
}

.btn {
    background-color: #BBDEFB;
    width: 45px;
    margin: 1px;
}

.halfBtn {
    background-color: #BBDEFB;
    width: 97px;
    margin-top: 5px;
}