body {
    background: blue;
    color: white !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading-1 {
    padding-top: 20px !important;
    color: silver;
    font-size: x-large;
    font-weight: bolder;
}

#title:hover {
    transition: 1s;
    letter-spacing: 4px;
}

#text-field {
    width: 350px;
    height: 40px;
    color: black !important;
    font-size: 24px;
    font-weight: bolder;
    position: relative;
    bottom: 20px;
    padding-left: 10px;
}

li {
    color: silver !important;
    list-style-type: none;
    font-size: 24px;
    font-weight: bolder;
    text-transform: capitalize;
    margin-left: 20px;
    margin-bottom: 10px;
}

#neon-button {
    margin-left: 10px;
}

.main-header {
    margin: 0;
    padding: 0;
    justify-content: center !important;
    align-items: center !important;
}

#neon-button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

#neon-button:hover {
    color: #255784;
    background: silver;
    box-shadow: 0 0 10px silver, 0 0 40px silver, 0 0 80px silver;
    transition-delay: 1s;
}

#neon-button span {
    position: absolute;
    display: block;
}

#neon-button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, silver);
}

#neon-button:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

#neon-button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, silver);
}

#neon-button:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#neon-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, silver);
}

#neon-button:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#neon-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, silver);
}

#neon-button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

#neon-button-1 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: silver;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

#neon-button-1:hover {
    color: silver;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

#neon-button-1 span {
    position: absolute;
    display: block;
}

#neon-button-1 span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

#neon-button-1:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

#neon-button-1 span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

#neon-button-1:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#neon-button-1 span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

#neon-button-1:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#neon-button-1 span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

#neon-button-1:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.delete-btn {
    background: none;
    color: #2196f3;
    border: solid 4px silver;
    letter-spacing: 2px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}

.edit-btn {
    background: none;
    color: silver;
    border: solid 4px #2196f3;
    letter-spacing: 2px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}