body {
    padding: 0;
    margin: 0;
}

.MainContainer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: royalblue;
    flex-wrap: wrap;
}

.one,
.two,
.three {
    border: none;
}

.one {
    float: 1;
    padding-top: 12px;
    padding-left: 70px;
}

.two {
    float: 1.5;
}

.three {
    float: 1;
    padding-top: 4px;
    padding-left: 15px;
}

.two p {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 30px;
}

.oneA {
    display: inline-block;
}

.oneA img {
    min-width: 10px;
    max-width: 25px;
    max-height: 25px;
    min-height: 10px;
    /* padding: 8px 0px 5px 80px; */
    margin: 5px;
}

.oneB {
    display: inline-block;
}

.oneB img {
    min-width: 10px;
    max-width: 25px;
    max-height: 25px;
    min-height: 10px;
    /* padding: 8px 0px 5px 0px; */
    margin: 5px;
}

.oneC {
    display: inline-block;
}

.oneC img {
    min-width: 10px;
    max-width: 25px;
    max-height: 25px;
    min-height: 10px;
    /* padding: 8px 0px 5px 0px; */
    margin: 5px;
}

.oneD {
    display: inline-block;
}

.oneD img {
    min-width: 10px;
    max-width: 25px;
    max-height: 25px;
    min-height: 10px;
    /* padding: 8px 0px 5px 0px; */
    margin: 5px;
}

.oneE {
    display: inline-block;
}

.oneE img {
    min-width: 10px;
    max-width: 25px;
    max-height: 25px;
    min-height: 10px;
    /* padding: 8px 0px 5px 0px; */
    margin: 5px;
}

.threeA {
    display: inline-block;
    padding-top: 12px;
    margin: 2px;
}

.threeB {
    display: inline-block;
    padding-top: 12px;
    margin: 2px;
}

.threeC {
    display: inline-block;
    padding-top: 12px;
    margin: 2px;
}

.threeA button {
    padding: 4px 4px 4px 4px;
    border: none;
    background-color: white;
    font-size: small;
}

.threeB button {
    padding: 4px 4px 4px 4px;
    border: none;
    background-color: white;
    font-size: small;
}

.threeC button {
    padding: 4px 4px 4px 4px;
    border: none;
    background-color: white;
    font-size: small;
}

.one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 100px;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 40px;
}

.three {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-right: 35px;
}

.part2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
}

.part2A img {
    min-width: 65px;
    max-width: 220px;
    min-height: 65px;
    max-height: 220px;
}

.part2A {
    border: 1px solid purple;
}

.part2B {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid yellow;
}

.part2B ul {
    list-style-type: none;
}


/* .part2B ul li {
    display: inline-block;
    padding: 6px 6px 6px 6px;
} */

.part2B1 {
    display: inline-block;
    padding: 6px 6px 6px 6px;
}

.part2B2 {
    display: inline-block;
    padding: 6px 6px 6px 6px;
}

.part2B3 {
    display: inline-block;
    padding: 6px 6px 6px 6px;
}

.part2B4 {
    display: inline-block;
    padding: 6px 6px 6px 6px;
}

.part2B5 {
    display: inline-block;
    padding: 6px 6px 6px 6px;
}

.part2B6 {
    display: inline-block;
    padding: 6px 6px 6px 6px;
}

.part2B7 {
    display: inline-block;
    padding: 6px 6px 6px 6px;
}


/* * {
    padding: 0;
    margin: 0;
} */

.textslide {
    background-color: blue;
    color: white;
    text-align: center;
}

.textslide p {
    padding: 10px;
}

#intro1 {
    font-size: xx-large;
    color: blue;
}

#intro2 {
    font-size: xx-large;
    color: green;
}

.Introduction logo main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: ghostwhite;
}

.text {
    /* border: 1px solid black; */
}

.text1 {
    /* border: 1px solid blue; */
}

.text1 p {
    padding: 50px 50px 50px 50px;
    margin: 10px auto 10px auto;
    text-align: justify;
}

.part3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 100px 50px 100px 50px;
    background-color: blue;
}

.part3A {
    /* border: 1px solid white; */
    padding: 15px 20px 15px 20px;
    margin: 10px 5px 10px 5px;
    justify-content: space-around;
}

.part3Ap1 {
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: white;
}

.part3Ap2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.part3Ap2b {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: greenyellow;
    font-size: x-large;
}

.part3B {
    /* border: 1px solid white; */
    padding: 15px 20px 15px 20px;
    margin: 10px 5px 10px 5px;
}

.part3Bp1 {
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: white;
}

.part3Bp2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.part3Bp2b {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: greenyellow;
    font-size: x-large;
}

.part3C {
    /* border: 1px solid white; */
    padding: 15px 20px 15px 20px;
    margin: 10px 5px 10px 5px;
}

.part3Cp1 {
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: white;
}

.part3Cp2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.part3Cp2b {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: greenyellow;
    font-size: x-large;
}

.part3D {
    /* border: 1px solid white; */
    padding: 15px 20px 15px 20px;
    margin: 10px 5px 10px 5px;
}

.part3Dp1 {
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: white;
}

.part3Dp2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.part3Dp2b {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: greenyellow;
    font-size: x-large;
}

.part5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.part5A {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    line-height: normal;
}

.part5A1 {
    width: 320px;
    background-color: rgb(237, 237, 247);
}

.part5A2 {
    width: 320px;
    background-color: rgb(237, 237, 247);
}

.part5A3 {
    width: 320px;
    background-color: rgb(237, 237, 247);
}


/* .part5A {
    border: 1px solid black;
} */

.part5B1 {
    width: 320px;
    background-color: rgb(237, 237, 247);
}

.part5B2 {
    width: 320px;
    background-color: rgb(237, 237, 247);
}

.part5B3 {
    width: 320px;
    background-color: rgb(237, 237, 247);
}

.part5B {
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.part5Ap1 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: blue;
    padding: 15px 20px 15px 20px;
    margin: 10px 5px 10px 5px;
}

.part5A {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px 10px 15px 10px;
    margin: 10px 5px 10px 5px;
}


/* .part5A2 {
    padding-right: 90px;
    flex: ;
} */

.part5Bp1 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: blue;
    padding: 15px 20px 15px 20px;
    margin: 10px 5px 10px 5px;
    b
}

.part5B {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px 20px 15px 20px;
    margin: 10px 5px 10px 5px;
}

.part5A1 {
    /* border: 1px solid purple; */
    padding-top: 20px;
}

.part5A2 {
    /* border: 1px solid purple; */
    padding-top: 20px;
}

.part5A3 {
    /* border: 1px solid purple; */
    padding-top: 20px;
}

.part5B1 {
    /* border: 1px solid purple; */
    padding-top: 20px;
}

.part5B2 {
    /* border: 1px solid purple; */
    padding-top: 20px;
}

.part5B3 {
    /* border: 1px solid purple; */
    padding-top: 20px;
}

.part4 h1 {
    padding-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.part4 img {
    margin-bottom: 30px;
}

.part6 {
    /* border: 1px solid blue;
    background-color: ghostwhite; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    margin: 30px;
}

.part6A {
    /* border: 1px solid black;
    background-color: blueviolet; */
    flex: 2.3;
    margin: 5px;
    padding: 5px;
}

.part6A h {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    ;
    /* text-align: center; */
    padding-right: 50px;
}

.part6B h {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

.part6B {
    /* border: 1px solid green;
    background-color: papayawhip; */
    flex: 1;
    margin: 0px;
    padding: 11px;
}

#bglight {
    background-color: rgb(237, 237, 247);
    margin: 15px;
    padding: 15px;
}

.box {
    /* border: 1px solid purple;
    background-color: red; */
}

.box1 {
    /* border: 1px solid yellow;
    background-color: gainsboro; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box1a {
    flex: 1;
    background-color: rgb(237, 237, 247);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 15px 10px 15px;
    margin: 10px 15px 10px 15px;
}

.box1b {
    flex: 1;
    background-color: rgb(237, 237, 247);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 15px 10px 15px;
    margin: 10px 15px 10px 15px;
}

.box2 {
    /* border: 1px solid bisque;
    background-color: darkorange; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box2c {
    flex: 1;
    background-color: rgb(237, 237, 247);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 15px 10px 15px;
    margin: 10px 15px 10px 15px;
}

.box2d {
    flex: 1;
    background-color: rgb(237, 237, 247);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 15px 10px 15px;
    margin: 10px 15px 10px 15px;
}

.part10 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(41, 44, 44);
    color: white;
}

.footercode {
    margin: 15px;
    padding: 15px;
    flex: 1;
    justify-content: space-around;
}

.usefullink {
    margin: 15px;
    padding: 15px;
    flex: 1;
    justify-content: space-around;
}

.contact {
    margin: 15px;
    padding: 15px;
    flex: 1;
    justify-content: space-around;
}

.part11 {
    background-color: royalblue;
    color: white;
    /* margin: 30px; */
    padding: 10px;
}

.image gellary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    display: inline-block;
}

.image1 {
    padding: 3px;
    margin: 3px;
}

.part12 {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    display: inline-block; */
    padding: 20px 90px 90px 90px;
}

.image1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    display: inline-block;
}

#fixed {
    position: fixed;
    bottom: 70px;
    right: 60px;
}